logs
conf/application.conf.secret
project/project
project/target
projectFilesBackuptarget
target
tmp
.history
dist
/.idea
.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
