<html>
    <head>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="/assets/cfapps.js"></script>
        <script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>

        <!-- Custom styles for this project -->
        <link rel="stylesheet" href="/assets/loading.css">
        <link rel="stylesheet" href="/assets/navbar.css">
            <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">

        @*<meta http-equiv="refresh" content="60">*@
    </head>
    <body>
                <!-- Fixed navbar -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Cloud Foundry Portal</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                    </div>
                </div>
            </nav>
        <img src="/assets/images/loading.gif" id="loading-indicator" style="display:none" />
        <div id="content" class="container"></div>
    </body>
</html>


